$bgLight: rgba(13, 202, 240, 0.25);

#app {
    height: 100vh;
    //overflow: auto;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.1rem;
}
h5 {
    font-size: 1.05rem;
}

.disabled-link {
    pointer-events: none;
}
a[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

.italic-muted {
    opacity: 0.6;
    font-style: italic;
}

#loginModal {
    z-index: 999999;
}
.navbar-collapse.show {
    z-index: 99999;
}

.striped > *:nth-child(even) {
    background-color: rgba(222, 226, 230, 0.25) !important;
}

.is-selected {
    background-color: rgba(0, 0, 255, 0.25);
}
.is-deleted {
    background-color: rgba(220, 53, 69, 0.25);

    .form-control,
  &.form-control,
  input,
  textarea,
  //button,
  &.card,
  select {
        background-color: rgba(220, 53, 69, 0.25);
    }
}

.feedback-container {
    height: 2.25rem;
    background-color: $bgLight;
}
.form-section {
    border: 1px solid #dee2e6;
    .form-section-title {
        background-color: $bgLight;
    }
    .form-section-body {
        padding: 0.5rem;
    }
    margin-bottom: 1rem;
}

.cursor {
    &.pointer {
        cursor: pointer;
    }
    &.move {
        cursor: move;
    }
    &.block {
        cursor: not-allowed;
    }
}

.file-drop-zone {
    border: 0.5rem dashed rgba(13, 202, 240, 0.25);

    &.dropping {
        opacity: 0.6;
    }
}

.form-buttons {
    padding: 0.5rem 0 0.25rem;
    position: sticky;
    top: 0;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    z-index: 999;
    background-color: rgba(245, 245, 245, 0.8);

    > div {
        margin-bottom: 0.25rem;
    }
}

.sticky-el {
    position: sticky;
    top: 0;
    z-index: 999;
}

.debug {
    opacity: 0.8;

    &.pre {
        white-space: pre-wrap;
    }
}
