header {
    height: 3.5rem;
}

main {
    padding-top: 0.5rem;
    min-height: calc(100vh - 8.25rem);
    padding-bottom: 0.5rem;
}

#modals {
    background-color: white;
}

@media screen and (max-width: 576px) {
    .page > .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

textarea.form-control {
    min-height: 7.5rem;
}

.list-view {
    max-width: 800px;
}

.drag-handle {
    // based on .input-group-text
    align-items: center;
    padding: 0.4rem 0.75rem;
    line-height: 1.5;
    color: #212529;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

#modals {
    .form-buttons {
        margin-top: 0;
    }
}

.input-group.floating {
    input,
    select {
        height: 3.5rem;
    }
}
.input-selector.floating {
    input,
    select {
        height: 3.5rem;
    }
}

.hover-line:hover {
    opacity: 0.6;
}
